* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
.container{
    width: 100%;
    max-width: 1146px;
    margin-right: 20px;
    margin-left: 100px;
}
